.side-image {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}
#card {
  margin-top: 20px;
  height: 800px;
  input {
    padding-bottom: 30px;
  }
  .form-border {
    margin-top: -10px;
    margin-bottom: 30px;
  }

  #submit-btn {
    color: black;
    padding: 10px;
  }
}
